<h1>Jobbplass</h1>

<p> Hei <%= @user.first_name.capitalize %>, </p>
<p>
  Gratulerer! Du valgte <%= @application.user.first_name.capitalize %> som hjelper for din jobb <br>
  <em> <strong><%=link_to "#{@application.job.title.capitalize}", job_url(@application.job) %> </strong></em><br>
  <br>

  Vennligst fortell oss om din opplevelse med <%= @application.user.first_name %> <br>
  <br>

  Å skrive en omtale <br>

  <ul>
	  <li> Logg inn på <%= link_to "Jobbplass", root_url %>-kontoen din</li>
	  <li>Øverst til høyre ser du 'Min Konto'. Klikk på denne for å gå til konto dashbordet</li>
	  <li>På venstre, klikk på <strong>'Vurder din hjelper'</strong>.</li>
  </ul>

  <br>
  Det tar bare 15-20 sekunder  
</p>


<P>MVH</P>
<p>Jobbplass</p>
