<h1>Frakt</h1>

<p> Hi <%= @user.first_name.capitalize %>, </p>
<p>
  We are pleased to see that you selected the helper <%= @application.user.first_name.capitalize %> for your job <br>
 <em> <strong><%=@application.job.title.capitalize %> </strong></em><br>
  <br>
  Are you satisfied with the helper? what are your opinions on his help<br>
  Click the link below to review <%= @application.user.first_name.capitalize %><br>
<%= link_to "#{user_url(@application.user)}", user_url(@application.user, anchor: "#{@application.id}") %>
   
</p>


<P>MVH</P>
<P>Kundesupport </p>
