<div class="row ">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
    <div class="form-div well">
      <h2 class="text-center form-head-text"><%= title %></h2>
      <br>
      <br>

      <%= form_for(@job) do |f| %>
        <div class="form-group">
          <%= render 'shared/errors', obj: @job %>
          <%= f.label :title, 'Jobb titel' %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :description, 'Beskrivelse' %>
          <%= f.text_area :description, row: 15, class: "form-control" %>
        </div>      
        <div class="form-group">
          <%= f.label :payment, 'Pris'%>
          <%= f.text_field :payment, class: "form-control" %>
        </div>
        <br>

        Items to be transported:
        <div class="row">        
          <div class="form-group col-md-6"> 
            <%= f.label "Fra:" %>         
            <%= f.text_field :street_addr,  placeholder: "Gateaddress eks. storgata 20A", class: "form-control" %> 
            
            <%= f.collection_select :fylke_id, @fylkes, :id, :name, {prompt: "Velg Fylke"}, {class:"form-control addr-field"} %>  
            <%= f.grouped_collection_select :kommune_id, @fylkes, :kommunes, :name, :id, :name, {}, {class:"form-control addr-field"} %>                          
          </div>

          <div class="form-group col-md-6"> 
            <%= f.label "Til:" %>         
            <%= f.text_field :destination_addr, placeholder: "Gate address", class: "form-control addr-field" %>
          </div>
        </div>
        <br>
         
        <div class="row">
         <div class="form-group col-md-4">
            <%= f.label :contact_number, "Contact Number" %>           
            <%= f.text_field :contact_number, class: "form-control" %>                    
         </div>
         <div class="col-md-8"></div>
        </div>
        <div class="form-group">
          <%= f.check_box :terms_of_service %> <span>I agree <%= link_to 'Terms of Service', service_path %> and <%= link_to 'Privacy statment', privacy_path %> </span>
        </div>

        <%= f.submit "Post your job", class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>
  </div>
</div>