<div class="row ">
  <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
    <div class="form-div well">
      <h2 class="text-center form-head-text"><%= title %></h2>
      <br>
      <br>

      <%= form_for(@job, html: {multipart: true}) do |f| %>
        <div class="form-group">
          <%= render 'shared/errors', obj: @job %>
          <%= f.label :title, 'Jobb titel' %><span class="red-star">*</span>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :description, 'Beskrivelse' %><span class="red-star">*</span>
          <%= f.text_area :description, row: 15, class: "form-control" %>
        </div>      
        <div class="form-group">
          <%= f.label :payment, 'Betaling'%><span class="red-star">*</span>
          <%= f.text_field :payment, class: "form-control" %>
        </div>

        <div class="form-group">
          <%=f.label :image, 'Last opp bilde' %>
          <%=f.file_field :image %>
          <%= f.hidden_field :image_cache %>
          <%= image_tag(@job.image_url(:thumb)) if @job.image? %>
        </div>
        <br>
        Retninger
        <div class="row">        
          <div class="form-group col-md-6"> 
            <%= f.label "Fra:" %><span class="red-star">*</span>         
            <%= f.text_field :street_addr,  placeholder: "Gateadresse eks. storgata 20A", class: "form-control" %> 
            
            <%= f.collection_select :fylke_id, @fylkes, :id, :name, {prompt: "Velg Fylke"}, {class:"form-control addr-field"} %>  
            <%= f.grouped_collection_select :kommune_id, @fylkes, :kommunes, :name, :id, :name, {}, {class:"form-control addr-field"} %>                          
          </div>

          <div class="form-group col-md-6"> 
            <%= f.label "Til:" %><span class="red-star">*</span>         
            <%= f.text_field :destination_addr, placeholder: "adresse", class: "form-control addr-field" %>
          </div>
        </div>
        <br>
         
        <div class="row">
         <div class="form-group col-md-4">
            <%= f.label :contact_number, "Mobilnummer" %>           
            <%= f.text_field :contact_number, class: "form-control" %>                    
         </div>
         <div class="col-md-8"></div>
        </div>
        <div class="form-group">
          <%= f.check_box :terms_of_service %> <span>Jeg godtar <%= link_to 'Vilkårene', service_path %> og <%= link_to 'Personvernpolicy/cookies', privacy_path %> </span><span class="red-star">*</span> 
        </div>
        <%= f.submit "Sett inn annonse", class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

