<% @page_title = 'Jobbplass | Alle jobber'%>
<div class=" contain main-content">
  
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1  all">
    <div class='row'>
      <div class="toppanel">
        <div class="col-md-6 col-xs-6">
          <h5><strong id="total-jobs"><%= @total  %></strong> Jobber funnet</h5>
        </div>
      </div><!--end of top panel-->

      <aside class="col-md-3 col-sm-5 omrade"> <!-- aside is the fylke filter on the left of the index page. this lists all the fylkes -->
        <div>
          <%= form_tag search_jobs_path, method: :get, remote: true, id: 'search-job-fylke' do %> <!-- where we submit the form. it is an ajax request ie js request -->
          <h3 class='grey-text'>Jobbcategori</h3>
          <hr/>
          <% @categories.each do |category| %> 
              <div class="form-group fylke-checkbox grey-text">
                <%= check_box_tag("category_id[#{category.id}]", category.id) %>
                <%= label_tag("category_id[#{category.id}]", category.name) %><span id="cat-<%= category.id %>">(<%= jobs_per_category(@all_jobs, @jobs_by_fylke, category.id)%>)</span>
              </div>    
            <% end%>
            <br>
            <br>
        <h3 class='grey-text'>Område</h3>
        <hr/>
            <% @fylkes.each do |fylke| %> 
              <div class="form-group fylke-checkbox grey-text">
                <%= check_box_tag("fylke_id[#{fylke.id}]", fylke.id) %>
                <%= label_tag("fylke_id[#{fylke.id}]", fylke.name) %><span id="fylke-<%= fylke.id %>" >(<%= jobs_per_fylke(@all_jobs, @jobs_by_cat, fylke.id)%>)</span>
              </div>    
            <% end%>
            <br>
            <br> 
            <%= submit_tag "" %>
          <% end %>
        </div>
      </aside>

      <div class="col-md-6 col-sm-7 middle-section"><!--- the  middle part of page that list all jobs begins here-->
        <div class="spinner "><%= image_tag('pages/spin.gif') %></div>
        <div class="jobs-list">
          <%= render 'index_page_jobs_list' %>
        </div>
        <div class="pagin pagin-down text-center">
           <%= will_paginate @jobs, renderer: BootstrapPagination::Rails, previous_label: '<', next_label:'>' %>
        </div>
      </div> <!-- end of middle section code -->

      <div class="col-md-3 users hidden-sm  "> <!-- the code is for the side advert on the index page at the right -->
        <br>
        <br>
        <div>
          <h3 class='grey-text'>Hjelpere</h3>
          <p>Har du varebil, kassebil, pickup etc?
             <br>Hjelp noen og tjen ekstra penger</p>
          <h4><%= link_to 'Bli en hjelper.Klikk her', become_driver_path %></h4>
        </div>
        <div>
          <h3 class='grey-text'>Kunder</h3>
          <p>Trenger du hjelp til å flytte, frakte eller transport noe?
              Sett in annonse og velg din hjelper.</p>
          <h4><%= link_to 'Sett inn annonse', new_job_path %></h4>

           <br/>
           <br/>
           <br/>
           <br/>
        </div>
      </div>
    </div>
  </div>
</div>

<!--- though not the best practice, placing this here ajaxifies pagination links only for index action-->
<script type="text/javascript">
$('.pagination a').attr('data-remote', 'true');
</script>




