<% @page_title = 'Jobbplass | Jobbdetaljer'%>

<!-- this first div is added to correct positioning effects from the bootstrap class="row" styles  --> 
<div class='contain'>
  <div class="col-md-8 col-sm-10 col-sm-offset-1 col-md-offset-2 large-screen" >
    <div class='row'>
    <div class="toppanel"> 
      <h4><%= link_to 'Alle jobber', jobs_path  %> / jobbdetaljer</h4> 
    </div><!--end of toppanel-->
    <div class="wrapper">
      <div class="job-main-details col-sm-7 col-md-8 col-xs-12">
        <h2><%= @job.title.capitalize %></h2>
        <div>
          <%= image_tag(@job.image_url(:trial), class: 'img-responsive cover-image') if @job.image %>
        </div>
        <h3>Beskrivelse</h3>
        <p><%= @job.description %> </p>
        <br/>
        <% if !@job.destination_addr.empty? %>
          <h3>Retninger</h3>
          <p><%= @job.street_addr %> <strong>  To  </strong> <%= @job.destination_addr%> </p> 
        <% else %>
          <h3>Sted</h3> 
          <p><%=@job.origin %></p> 
        <% end %>
        <div id="map-canvas"></div>

        <p class="row col-md-12 col-xs-12"><em>Sist endret: <%= display_datetime(@job.updated_at)%> </em></p>        
      </div>

      <div class="side-info col-md-4 col-sm-5 col-xs-12 "> 
        <div class="apply-section well">
          <h3 class="text-center">Betaling: <strong><%= @job.payment %>kr</strong></h3>
          <br/>
          <ul class='contain'> <!-- contain class has styles  overflow:auto -->
            <li class="col-md-12 col-xs-12">
              <div class="row">
                <div class="col-md-5 col-xs-5">Annonsør:</div>
                <div class="col-md-7 col-xs-5"><%= full_name(@job.user).capitalize %></div>
              </div>
            </li>
            <% if @job.status == 'active' %>
              <li class='col-md-12 col-xs-12'>
                <div class='row'>
                  <div class="col-md-5 col-xs-5">Jobbstatus:</div>
                  <div class="col-md-7 col-xs-5"><strong class="active-status">Aktiv</strong></div>
                </div>
              </li>
            <% elsif @job.status == 'inactive' %>
              <li class='col-md-12 col-xs-12'>
                <div class='row'>
                  <div class="col-md-5 col-xs-5">Jobbstatus:</div>
                  <div class="col-md-7 col-xs-5"><strong class="inactive-status">Inaktiv</strong></div>
                </div>
              </li>
              <p class='inactive-status'>Jobben utført</p>
            <% end %>
          </ul>
          <br>
          <br>
          <% if @job.status == 'active' %>
            <% if current_user %>
              <%= link_to 'Tilby din hjelp',  job_job_applications_path(job_id: @job.id, user_id: current_user.id ), method: 'post', class: "btn btn-block btn-primary apply-btn" %>
            <% else %>
              <%= link_to 'Tilby din hjelp',  job_job_applications_path(job_id: @job.id), method: 'post', class: "btn btn-block btn-primary apply-btn" %>
            <% end %>
          <% end %>          
        </div>

        <div class="applicants-div well">
          <% if @job.status == 'active' %>
            <% if @all_applications.empty? %>
              <p><strong id='befirst'>Ingen hjelpere. Være først </strong></p>
            <% else %>
              <h4 class="text-center">Hjepere (<%= @all_applications.size %>)</h4>
              <ul> 
                <div class="row">
                <% @all_applications.each do |appli| %>
                  <li class="col-md-6 col-xs-6">
                    <div class="text-center">
                      <% if appli.user.image? %>
                        <%= image_tag(appli.user.image_url(:thumb), class: 'img-responsive img-circle') %>
                      <% else %>
                        <%= image_tag('pages/default-user-thumb.jpg', class: 'img-responsive img-circle') %>
                      <% end %>
                      <%= link_to "#{appli.user.first_name}", user_path(appli.user) %>
                    </div>  
                  </li>
                <% end %>
              </div>
              </ul>
            <% end %>
          <% end %> 
        </div><!--end of applicants-div-->  
        <div class="similar-jobs well">
          <h4 class="text-center"><%=@job.fylke.name.upcase %> JOBBER</h4>
          <br>
          <% @same_location_jobs.each do |job| %>
            <% if job.id != @job.id %>
              <div>
                <h5><%= link_to job.title.capitalize, job_path(job) %></h5>
                <p><%= job.fylke.name %><strong class='pull-right'><%= job.payment %>kr</strong></p>
              </div>
              <hr id='show-hr'>
            <% end %>
          <% end %>
        </div><!-- end of similar jobs-->
      </div><!-- end of job main details--> 
    </div> <!-- end of wrapper-->  
    </div>     
  </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBH6lY2r6Uh07x0sfDoV7n1S4EugAJVq4&language=no&region=NO"></script>
   
 <script type="text/javascript">

  function initMap() {
      
    var lat1 = <%= @job.lat1 %>,
       lng1 = <%= @job.long1 %>,  
       lat2 = <%= @job.lat2 %>, 
       lng2 = <%= @job.long2 %>;
            
    var pointA = new google.maps.LatLng(lat1, lng1),
        pointB = new google.maps.LatLng(lat2, lng2),
        myOptions = {
          zoom: 7,
          center: pointA
        },
        map = new google.maps.Map(document.getElementById('map-canvas'), myOptions),
        // Instantiate a directions service.
        directionsService = new google.maps.DirectionsService,
        directionsDisplay = new google.maps.DirectionsRenderer({
          map: map
        }),
        markerA = new google.maps.Marker({
          position: pointA,
          title: "Punkt A",
          label: "A",
          map: map
        }),
        markerB = new google.maps.Marker({
          position: pointB,
          title: "Punkt B",
          label: "B",
          map: map
        });

      // get route from A to B
      calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB);

    }

    function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB) {
      directionsService.route({
        origin: pointA,
        destination: pointB,
        travelMode: google.maps.TravelMode.DRIVING
      }, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          directionsDisplay.setDirections(response);
        } else {
          window.alert('Directions request failed due to ' + status);
        }
      });
  }

  initMap();

</script>