<div class="correct-row-style"> <!-- this first div is added to correct positioning effects from the bootstrap class="row" styles  --> 
  <div class=" row  col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-3" id="container">
    <div class="toppanel">
      <br>
      <br>
    </div><!--end of toppanel-->
    <div class="wrapper">
      <div class="job-main-details col-sm-7 col-md-8 col-xs-12">
        <h2><%= @job.title %></h2>
        <br>
        <%= image_tag('pages/fotolia.jpg', class: 'img-responsive  thumbnail') %>
        <br/>
        <h3>Description</h3>
        <p><%= @job.description %> </p>
        <br/>
        <h3>Directions</h3>
        <p><%= @job.street_addr %> <strong>  To  </strong> <%= @job.destination_addr%> </p>   
        <%= image_tag('pages/fotolia.jpg', class: 'img-responsive thumbnail') %>
         
        <p class="row col-md-12 col-xs-12"><em>Modified: <%= display_datetime(@job.updated_at)%> </em></p>
               
              
      </div>

      <div class="side-info col-md-4 col-sm-5 col-xs-12 "> 
        <div class="apply-section well">
          <h3 class="text-center">Pris: <strong>1120kr</strong></h3>
          <br/>
         
          <ul>
            <li>
              <div class="row col-md-12 col-xs-12">
                <p class="col-md-4 col-xs-5">Annonsør:</p>
                <p class="col-md-8 col-xs-5" > <%= full_name(@job.user) %></p>
              </div>
            </li>
            <li>
              <div class="row col-md-12 col-xs-12">
                <p class="col-md-4 col-xs-5">Phone:</p>
                <p class="col-md-8 col-xs-5"><%= @job.contact_number %></p>
              </div>
            </li>
          </ul>
          <br/> 
          <% if @job.status == 'active' %>
          <h4 >status: <strong class="status">Job not yet awarded</strong></h4>
          <br/>
          <%= link_to 'Apply to help',  job_job_applications_path(@job, user_id: current_user ), method: 'post', class: "btn btn-block btn-primary" %>  
          <% elsif @job.status == 'inactive' %>
           <h4 >status: <strong class="status">Inactive</strong></h4>
           <p>Job already awarded</p>
           <% end %>
        </div>

        <div class="applicants-div">
          <h2 class="text-center">10</h2>
          <h4 class="text-center">Applicants </h4>  
        </div><!--end of applicants-div-->  

        <div class="similar-jobs">
          <br>
          <h4 class="similar-jobs"><%=@job.fylke.name.upcase %> JOBS</h4>
          <br>
          <% @same_location_jobs.each do |job| %>
            <% if job.id != @job.id %>
              <div>
                <h4><%= link_to job.title, job_path(job) %></h4>
                <p><strong><%= job.fylke.name %></strong></p>
              </div>
            <% end %>
          <% end %>
        </div><!-- end of similar jobs-->

      </div><!-- end of job main details--> 
    </div> <!-- end of wrapper-->       
  </div>
</div>



   
 