<div class="correct-row-style"> <!-- this first div is added to correct positioning effects from the bootstrap class="row" styles  --> 
  <div class=" row  col-md-8 col-sm-10 col-sm-offset-1 col-md-offset-2" id="container">
    <div class="toppanel">
      <br>
      <br>
    </div><!--end of toppanel-->
    <div class="wrapper">
      <div class="job-main-details col-sm-7 col-md-8 col-xs-12">
        <h2><%= @job.title %></h2>
        <%= image_tag('pages/fotolia.jpg', class: 'img-responsive  thumbnail') %>
        <br/>
        <h3>Description</h3>
        <p><%= @job.description %> </p>
        <br/>
        <h3>Directions</h3>
        <p><%= @job.street_addr %> <strong>  To  </strong> <%= @job.destination_addr %> </p>   
        <%= image_tag('pages/fotolia.jpg', class: 'img-responsive thumbnail') %>
      </div>

      <div class="side-info col-md-4 col-sm-5 col-xs-12 "> 
        <div class="apply-section well">
          <h3 class="text-center">Pris: <strong>1120kr</strong></h3>
          <br/>
          <br/>
          <ul>
            <li>
              <div class="row col-md-12 col-xs-12">
                <p class="col-md-4 col-xs-5">Annonsør:</p>
                <p class="col-md-8 col-xs-5  text-center" ><%= @job.created_at %></p>
              </div>
            </li>
            <li>
              <div class="row col-md-12 col-xs-12">
                <p class="col-md-4 col-xs-5">Posted on:</p>
                <p class="col-md-8 col-xs-5 text-center">20.10.2015 at 21:26</p>
              </div>
            </li>
          </ul>
          <br/>
          <br/>
          <ul>
            <li>
              <div class="row col-md-12 col-xs-12">
                <p class="col-md-4 col-xs-5">Posted on:</p>
                <p class="col-md-8 col-xs-5 text-center">20.10.2015 at 21:26</p>
              </div>
            </li>
            <li>
              <div class="row col-md-12 col-xs-12">
                <p class="col-md-4 col-xs-5">Posted on:</p>
                <p class="col-md-8 col-xs-5 text-center">20.10.2015 at 21:26</p>
              </div>
            </li>
          </ul>
          status:
          <span>Job not yet awarded</span>
          <br/>
          <br/>
          <button class="btn btn-block btn-primary">Apply to transport it </button>  
        </div>

        <div class="applicants-div">
          <h2 class="text-center">10</h2>
          <h4 class="text-center">Applicants </h4>  
        </div><!--end of applicants-div-->   
      </div> 
    </div> <!-- end of wrapper-->       
  </div>
</div>



   
 