<div class="contain"> <!--added to undo positioning due to bootstrap row style-->
  <div class="row well new-user-wrapper col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-12 ">  
    <div class="col-md-6 col-xs-12 infos hidden-xs">
      <br/>
      <p>Please create your new account.</p>
      <p>If you want to post a shipment, select Announcer</p>
      <p>If you want to be a driver, select I want to be a driver</p>
      <p>then fill the rest of the form</p>
     <%= image_tag('pages/fotolia.jpg', class: "img-responsive hidden-xs") %> 
    </div>
    <div class="col-md-6 registerform col-xs-12" novalidate>
      <h3 class="text-center">CREATE YOUR ACCOUNT</h3>
      <%= form_for @user do |f| %>
        <div class="form-group">
          <%= f.label :first_name, 'First Name' %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :last_name, 'Last Name' %>
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :email, 'Email address' %>
          <%= f.text_field :email, class: "form-control", placeholder: 'Email', autocomplete: false %>
        </div>
        <div class="form-group">
          <%=f.label :password, 'Password' %>
          <%= f.password_field :password, class: "form-control", placeholder: 'passord' %>
        </div>      
        <br/>
        <div class="form-group">
          <%= check_box_tag "terms" %> I agree <%= link_to 'Terms of Service', service_path %> and <%= link_to 'Privacy statment', privacy_path %>      
        </div>
        <%= f.submit "Register", class: "btn btn-default btn-block register-button" %> 
        <hr class="hr-new-user"/>
        <h4 class="text-center">Are you a member already? <%= link_to 'Login', '#' %></h4>
      <% end %>
    </div>
  </div>
</div>