<% @page_title = 'Frakt -Ny bruker'%>
<div class="contain"> <!--added to undo positioning due to bootstrap row style-->
  <div class="row well new-user-wrapper col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-12 ">  
    <div class="col-md-6 col-xs-12 infos hidden-xs">
      <br/>
      <p>Please create your new account.</p>
      <ul>
        <li><p>To post your job</p></li>
        <li><p>To be a hjelper</p></li>
      </ul>
     <%= image_tag('pages/front.jpg', class: "img-responsive hidden-xs") %> 
    </div>
    <div class="col-md-6 registerform col-xs-12" novalidate>
      <h3 class="text-center title">CREATE YOUR ACCOUNT</h3>
      <%= form_for @user do |f| %>
       <%= render 'shared/errors', obj: @user %>
        <div class="form-group">
          <%= f.label :first_name, 'Forst Navn' %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
         <input type="text" style="display:none"> <!-- hidden inputs added to cancel autocomplete for email and password-->
         <input type="password" style="display:none">
        <div class="form-group">
          <%= f.label :email, 'Email address' %>
          <%= f.text_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%=f.label :password %>
          <%= f.password_field :password, class: "form-control", placeholder: 'passord' %>
        </div> 
        <div class="form-group">
          <%=f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: 'passord' %>
        </div> 
        <div class="form-group">
          <%= f.label 'Kommune' %>
          <%= f.collection_select :kommune_id, @kommunes, :id, :name, {prompt: "Velg Kommune"}, {class:"form-control addr-field"}%> 
        </div>    
        <br/>
        <div class="form-group">
          <%= f.check_box :terms %> I agree <%= link_to 'Terms of Service', service_path %> and <%= link_to 'Privacy statment', privacy_path %>      
        </div>
        <%= f.submit "Register", class: "btn btn-default btn-block register-button" %> 
        <hr class="hr-new-user"/>
        <h4 class="text-center">Are you a member already? <%= link_to 'Login', login_path %></h4>
      <% end %>
    </div>
  </div>
</div>