
<% @page_title = 'Frakt | mine vurderinger' %> 
<div class="contain wrapping">
  <div class="col-md-6 col-md-offset-3 well wrap">
    <div id="about-me">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <% if @user.image? %>
              <%= image_tag(@user.image_url(:thumb), class: "thumbnail img-responsive user-pic") %>
            <% else %>
              <%= image_tag('pages/default-user.jpg', class: 'img-responsive thumbnail user-pic') %>
            <% end %>
          </div>
          <div class="col-md-6">
            <h4><%= @user.first_name.capitalize %></h4>
            <h4><%= @user.kommune.name if @user.kommune %></h4>
            <h2>Average rating</h2>
            <div class='average-review-rating' data-score=<%= @average_review %>></div>
            <p> <%= @total  %> reviews</p>
          </div>
          <div class="col-md-3 text-center">
            <h4>Jobs Completed</h4>
            <h4> <strong><%= @total_invitations %></strong> </h4>
          </div>
          <div class="col-md-12">
            <h3 class="text-center">About me</h3>
            <p><%= @user.user_self_description %></p>
          </div>
        </div>
      </div>    
    </div > <!-- end of about me here -->

    <div class="job-review-segment">
      <h3 class="text-center"> My Reviews</h3>
      <% @appli_won.each do |appl| %>
        <div>
          <h3><%= link_to "#{appl.job.title.capitalize}", job_path(appl.job), id: "#{appl.id}" %></h3> 
            <% appl.reviews.each do |review| %>
              <div class="row">
                <div class="col-md-2 col-xs-3">
                  <% if appl.job.user.image? %>
                    <%= image_tag(appl.job.user.image_url(:thumb), class: "img-circle img-responsive") %>
                  <% else %>
                    <%= image_tag('pages/default-user-thumb.jpg', class: 'img-responsive img-circle') %>
                  <% end %>
                </div>
                <div class= "col-md-10 col-xs-9 review">                 
                  <strong><%= appl.job.user.first_name %></strong>                   
                   (Jobeier)                  
                  <br>
                  <em><%= review.comment.capitalize %></em> 
                 <div class='star-rating' data-score= <%= review.rating %> > </div> 
                </div>
              </div>
              <br>
            <% end %>        
        </div>
      <% end %>      
    </div> <!-- end of job review segment here -->
      <div class="pagin pagin-down text-center">
        <%= will_paginate @appli_won, renderer: BootstrapPagination::Rails, previous_label: '<', next_label:'>' %>
      </div>
  </div> <!-- end of well wrap here -->
</div><!-- end of content wrapping  here -->

 

 <script type="text/javascript">
 /*this displays the stars based on what what value therating has */
   $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    hints:  ['', '', '', '', ''],
    noRatedMsg  : 'Ennå ikke vurdert',
    score: function(){
      return $(this).attr('data-score');
    }
  });

/* this displays the stars uncolored then when a number of stars are clicked, that number becomes the value for review[:rating] */
   $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
   });

$('.average-review-rating').raty({
    path: '/assets/',
    readOnly: true,
    hints:  ['', '', '', '', ''],
    noRatedMsg  : 'Ennå ikke vurdert ',
    score: function(){
      return $(this).attr('data-score');
    }

  });

 </script>