<%= render 'part3' %>
<div class='contain'>
  <div class='col-md-8 col-md-offset-2'>
    <div class='pull-left text-center'>
      <p>Total Users</p>
      <h3 class='totals'> <%= @total_users %></h3>
    </div>
    <div class='pull-right text-center'>
      <p>New Users Today</p>
      <h3 class='totals'> <%=  @today_users %></h3>
    </div>
  </div>
</div>
<br>
<br>
<br>
<table class="table table-bordered table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Id</th>
      <th>Full Name</th>
      <th>Kommune</th>
      <th>email</th>
      <th>Edit </th>
      
    </tr>
  </thead>
  <% @all_users.each do |user| %>              
      <tr> 
          <td><%= user.id %></td>                 
          <td><%= link_to "#{user.first_name}"  , user_path(user.id) %> </td>
          <% if user.kommune %>
          <td><%= user.kommune.name %> </td> 
          <% else %> 
          <td></td>
          <% end %>
          <td><%= user.email %> </td>    
          <td><%= link_to 'Edit User', '', class: 'btn btn-info edit-btn' %> </td>                      
      </tr>
    <% end %>
</table>
   
<div class="pagin pagin-down text-center">
  <%= will_paginate @all_users, renderer: BootstrapPagination::Rails, previous_label: '<', next_label:'>' %>
</div>

<%= render 'part4' %>