<%= render 'part3' %>
<div class='contain'>
  <div class='col-md-8 col-md-offset-2'>
    <div class='pull-left text-center'>
      <h4>Total jobs</h4>
      <h3> <%= @total_jobs %></h3>
    </div>
    <div class='pull-right text-center'>
      <h4>Jobs today</h4>
      <h3> <%= @today_jobs%></h3>
    </div>
  </div>
</div>
<br>
<br>
<br>
<table class="table table-bordered table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Payment</th>
      <th>Status</th>
      <th>Created at</th>
      <th>Activate </th>
      <th>Delete</th>
    </tr>
  </thead>
  <% @all_jobs.each do |job| %>              
    <tr> 
      <td><%= job.id %></td>                 
      <td><%= link_to "#{job.title.capitalize.slice(0, 25) + '...'}"  , job_path(job.id) %> </td>
      <td><%= job.payment %> </td>  
      <td><%= job.status %> </td> 
      <td><%= (time_ago_in_words(job.created_at)+ ' ago').gsub('about', '') %></td>
      <% if job.status == 'active' %>
        <td>----</td>
      <% else %>
        <td><%= link_to 'Activate', '', class: 'btn btn-info' %> </td> 
      <% end %>
      <td><%= link_to 'Delete', job_path(job), confirm: 'Are you sure, you want to delete', method: :delete, class: 'btn btn-danger' %> </td>                      
    </tr>
  <% end %>   
</table>

<div class="pagin pagin-down text-center">
  <%= will_paginate @all_jobs, renderer: BootstrapPagination::Rails, previous_label: '<', next_label:'>' %>
</div>
<%= render 'part4' %>
