<% @page_title = 'Frakt | Velkommen'%>
<header>
<div class="col-md-12 col-sm-12">
  <div class="row col-md-10 col-md-offset-1 col-sm-12">
    <br>
    <br>
    <div class="hero-text col-md-5">
      <br>
      <br>
      <br>
      <h1>Move anything within your community</h1>
      <h3>Har du bil? become a helper and earn money</h3>
      <br>
      <div>
        <%= link_to "Vis alle annonse(#{@total})", jobs_path, class: "btn btn-lg btn-total-jobs" %>
      </div>
      <br>
    </div>
    <div class="hero-picture col-md-7 col-sm-8 hidden-sm hidden-xs ">
      <%= image_tag('pages/front.jpg', class: 'img-responsive pull-right')%>
    </div>
  </div>
<div>
</header>

<main>
  <h2 class="red-text text-center">How Frakt Works</h2>
  <div class="contain green-area">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-4 col-sm-4 text-center">
          <span class="numbers">1</span>
          <h3>POST YOUR AD</h3> 
          <hr class="front-hr">
          <h4> You want to move something in your community?</h4>
          <h4> Just post it on Frakt</h4>
        </div>
        <div class="col-md-4  col-sm-4 text-center ">
          <span  class="numbers">2</span>
          <br>
          <h3>GET A HELPER</h3> 
          <hr class="front-hr">
          <h4> Happy helpers apply to help you.</h4>
          <h4> You select one of them</h4>  
        </div>
        <div class="col-md-4 col-sm-4 text-center">
          <span class="numbers">3</span>
          <h3>RATE & REVIEW </h3> 
          <hr class="front-hr">
          <h4> Pay your helper after job is done</h4>
          <h4>Rate and Review your helper</h4>
        </div>
      </div>
    </div>
  </div> 
  <div class="use-cases contain latest">
    <br>
    <br>
    <br>
    <h3 class="text-center red-text"> Latest Jobs</h3>
    <br>
    <div class="col-md-8 col-md-offset-2 ">
      <ul class="well contain latest-list">
        <% @jobs.each do |job| %> <!--- this piece of code generates the infos for each job to be displayed -->
          <div class="col-md-6">
            <li >
              <div class="row">
                <%= link_to job_path(job.id) do %>
                  <div class="col-md-4 col-sm-4">
                    <% if job.image? %>
                    <%= image_tag(job.image_url(:thumb), class: 'img-responsive pull-left thumbnail pic-margins') %>
                    <% else %>
                     <%= image_tag('pages/furni-thumb.jpg', size: "145x110", class: 'img-responsive pull-left thumbnail pic-margins') %>
                     <% end %>
                  </div>
                  <div class="col-md-5 col-sm-6">
                    <%= "#{job.title.capitalize.slice(0, 32)}" + "..." %>                  
                  </div>
                <% end %>
                <div class="col-md-3 ">
                  <h5 id="money"> <%= job.payment %>kr</h5>
                </div>
                <p class='col-md-5 no-helpers' ><%= job.job_applications.size %> Hjelpere</p>
              </div>
              <hr class="divider">
              <div class="row panel-bottom">
                <p class="col-md-6 text-center"><%= job.fylke.name %> </p>
                <p class="col-md-6 text-center">Posted on: <%= job.created_at.strftime("%m/%d/%Y ") %> </p>
              </div>
            </li>
          </div>
        <% end %> <!--- end of infos for each job here -->
      </ul>
    </div>
    <div class="col-md-12 text-center">
      <%= link_to 'Vis flere jobber', jobs_path, class: "btn btn-lg btn-total-jobs" %>
    </div>
  </div>  
  <div class="use-cases contain">
    <br>
    <br>
    <br>
    <br>
    <h3 class="text-center red-text">Peolpe are using Frakt for...</h3>
    <br>
    <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="row">
        <div class="col-md-3 col-sm-6 case-container">
          <div class="text-center cases">
            <%= image_tag('pages/furniture.jpg', class: 'img-responsive ')%>            
            <h4> Transport av Møbler</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 case-container">     
          <div class=" text-center cases">
            <%= image_tag('pages/move.jpg', class: 'img-responsive ')%>
            <h4> Flytting           </h4>  
          </div>  
        </div>
        <div class="col-md-3 col-sm-6 case-container">
          <div class="text-center cases">
            <%= image_tag('pages/online.jpg', class: 'img-responsive ')%>             
            <h4> Transport av Hvitevarer</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 case-container">
          <div class="text-center cases">
            <%= image_tag('pages/office.jpg', class: 'img-responsive ')%>            
            <h4>Kontoflytting       </h4>
          </div>
        </div>
      </div>
    </div>
  <div class='col-md-12'> <!-- added for space rather than using css -->
    <br>
    <br>
    <br>
    <br>
  </div> 
  </div>

</main>




