<% @page_title = 'Jobbplass | småjobb markedsplass'%>
<header>
<div class="col-md-12 col-sm-12">
  <div class="row col-md-10 col-md-offset-1 col-sm-12">
    <br>
    <br>
    <div class="hero-text col-md-5">
      <br>
      <br>
      <br>
      <h1>Har du en småjobb? <br>
      Få en hjelper her</h1>
      <h3>Eller du kan bli en hjelper og tjen penger</h3>
      <br>
      <div>
        <%= link_to jobs_path, class: "btn btn-lg btn-total-jobs" do %>
        Vis alle annonser<strong class='red-text'> <%= "(#{@total})"%></strong>
        <% end %>
      </div>
      <br>
    </div>
    <div class="hero-picture col-md-7 col-sm-8 hidden-sm hidden-xs ">
      <%= image_tag('pages/front.jpg', class: 'img-responsive pull-right')%>
    </div>
  </div>
<div>
</header>

<main>
  <h2 class=" text-center"><strong id="howiw">Slik fungerer det</strong></h2>
  <div class="contain green-area">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-4 col-sm-4 text-center">
          <span class="numbers">1</span>
          <h3>SETT INN ANNONSE</h3> 
          <hr class="front-hr">
          <h4> Har du en småjobb?</h4>
          <h4> Sett inn annonse</h4>
        </div>
        <div class="col-md-4  col-sm-4 text-center ">
          <span  class="numbers">2</span>
          <br>
          <h3>VELG DIN HJELPER</h3> 
          <hr class="front-hr">
          <h4> Glade hjelpere tilby å hjelpe deg.</h4>
          <h4> Du velger en hjelper</h4>  
        </div>
        <div class="col-md-4 col-sm-4 text-center">
          <span class="numbers">3</span>
          <h3>SKRIVE EN OMTALE </h3> 
          <hr class="front-hr">
          <h4>Betale din hjelper etter jobben er utført</h4>
          <h4>Skrive en omtale </h4>
        </div>
      </div>
    </div>
  </div> 
  <br>

  <div class="use-cases contain latest">
    <br>
    <br>
    <br>
    <h3 class="text-center red-text"> Nyeste Jobber</h3>
    <br>
    <div class="col-md-8 col-md-offset-2 latest-div">
      <ul class="contain latest-list">
        <% @jobs.each do |job| %> <!--- this piece of code generates the infos for each job to be displayed -->
          <div class="col-md-6 list-container">
            <%= link_to job_path(job) do %>
              <li >
                <div class="row">    
                    <div class="col-md-4 col-sm-4">
                      <% if job.image? %>
                      <%= image_tag(job.image_url(:thumb), class: 'img-responsive pull-left thumbnail pic-margins') %>
                      <% else %>
                       <%= image_tag("pages/thumb_cat_#{job.category_id}.png", class: 'img-responsive pull-left thumbnail pic-margins') %>
                       <% end %>
                    </div>
                    <div class="col-md-5 col-sm-6">
                      <p><%= "#{job.title.capitalize.slice(0, 32)}" + "..." %></p>                  
                    </div>
                  
                  <div class="col-md-3 ">
                    <h5 id="money"> <%= job.payment %>kr</h5>
                  </div>
                  <p class='col-md-5 no-helpers' ><%= job.job_applications.size %> Hjelpere</p>
                </div>
                <hr class="divider">
                <div class="row panel-bottom">
                  <p class="col-md-6 text-center grey-text"><%= job.fylke.name %> </p>
                  <p class="col-md-6 text-center time-text"><%= time_in_words_norwegian(job.created_at) %> </p>
                </div>
              </li>
            <% end %>
          </div>
        <% end %> <!--- end of infos for each job here -->
      </ul>
    </div>
    <div class="col-md-12 text-center">
      <%= link_to 'Vis alle jobber', jobs_path, class: "btn btn-lg btn-total-jobs" %>
    </div>
    <div class='hidden-lg hidden-sm hidden-md'> <!-- space for iphone -->
      <br>
    </div> 
  </div> 

  <div class="use-cases contain hidden-xs">
    <br>
    <br>
    <br>
    <br>
    <h3 class="text-center red-text ">Hvordan folk bruker Jobbplass</h3>
    <br>
    <div class='col-md-8 col-md-offset-2 use-cases-wrapper'>
    <div class='row'>
      <div class='col-md-3 col-sm-6'>
        <div class='each-cat'>
          <%= image_tag("pages/cat_1.png", class: 'img-responsive   ') %>
          <p>Flytting, Frakt</p>
        </div>
      </div>
      <div class='col-md-3 col-sm-6'>
        <div class='each-cat'>
          <%= image_tag("pages/cat_2.png", class: 'img-responsive   ') %>
          <p>Utearbeid og Hage</p>
      </div>
      </div>
      <div class='col-md-3 col-sm-6'>
        <div class='each-cat'>
          <%= image_tag("pages/cat_3.png", class: 'img-responsive   ') %>
          <p>Reparasjon, Vedlikehold</p>
      </div>
      </div>
      <div class='col-md-3 col-sm-6'>
        <div class='each-cat'>
          <%= image_tag("pages/cat_4.png", class: 'img-responsive  ') %>
          <p>Vask, Renhold Husearbeid</p>
        </div>
      </div>
      <div class='col-md-3 col-sm-6'>
        <div class='each-cat'>
          <%= image_tag("pages/cat_5.png", class: 'img-responsive   ') %>
          <p>Bygging og montering</p>
        </div>
      </div>
      <div class='col-md-3 col-sm-6'>
        <div class='each-cat'>
          <%= image_tag("pages/cat_6.png", class: 'img-responsive   ') %>
          <p>IT og Data</p>
        </div>
      </div>
      <div class='col-md-3 col-sm-6'>
        <div  class='each-cat'>
          <%= image_tag("pages/cat_7.png", class: 'img-responsive   ') %>
          <p>Undervisning, Leksehelp</p>
        </div>
      </div>
    </div>
  </div>
         
    <div class='col-md-12'> <!-- added just to give gap below. prefer this to css -->
      <br>
      <br>
      <br>
    </div>  
  </div>
</main>




