<div class="contain">
  <div class="col-xs-12 col-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1">
    <div class="row">
      <aside class="col-md-4 col-sm-5 well dashboard-menu contain"> <!--styles for dashboard-menu found in myjobs.css.scss -->
        <h2>Dashbord</h2>
        <hr/>
        <div class='btn-group-vertical col-md-10 col-xs-12 col-sm-12'>          
         <%= link_to 'Mine annonser', my_jobs_dashboard_path, class: 'btn btn-default btn block text-left'  %>
          <%= link_to 'Mine søknader', my_applications_dashboard_path, class: 'btn btn-default text-left'  %>
          <%= link_to 'Invitasjoner fra jobbeiere', jobs_won_dashboard_path, class: 'btn btn-default text-left'  %>
          <%= link_to 'Mine vurderinger', user_path(current_user), class: 'btn btn-default text-left'  %>

          <%= link_to rate_your_helpers_dashboard_path , class: 'btn btn-default text-left' do %>
            <% if @applications_without_reviews.size == 0 %> 
               Vurder dine hjelpere 
            <% else %>   
              Vurder dine hjelpere <sup>(<%= @applications_without_reviews.size %>)</sup>
            <% end %>          
          <% end %>         
          <h4><strong>Min Konto</strong></h4>
          
          <%= link_to 'Min Profil', my_profile_dashboard_path, class: 'btn btn-default text-left'  %>
          <%= link_to 'Rediger Profil', edit_profile_dashboard_path, class: 'btn btn-default text-left'  %>
          <%= link_to 'Endre Passord', new_password_dashboard_path, class: 'btn btn-default text-left'   %>
        </div>   
       
      </aside>
      <div class="col-md-8 col-sm-7  col-xs-12 result-section well"><!--styles for result-section found in myjobs.css.scss -->
      <div class="dashboard-menu-info"> 