<div class="contain">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
    <div class="row">
      <aside class="col-md-4 col-sm-5 well dashboard-menu"> <!--styles for dashboard-menu found in myjobs.css.scss -->
        <h2>Dashboard</h2>
        <hr/>
        <div class=''>          
          <h4><%= link_to 'Mine annonser', my_jobs_dashboard_path %></h4>
          <h4><%= link_to 'Mine søknader', my_applications_dashboard_path %></h4>
          <h4><%= link_to 'Invitasjoner fra jobb eiere', jobs_won_dashboard_path %></h4>
          <h4><%= link_to 'Mine vurderinger', user_path(current_user) %></h4> 
          <%= link_to rate_your_helpers_dashboard_path do %>
            <% if @applications_without_reviews.size == 0 %> 
            <h4> Hjelpere venter på dine vurderinger</h4>
            <% else %>   
            <h4> Hjelpere venter på dine vurderinger<sup>(<%= @applications_without_reviews.size %>)</sup></h4> 
            <% end %>          
          <% end %>         
          <h4>Min Konto</h4>
          <ul>
            <li ><%= link_to 'Min Profil', my_profile_dashboard_path %></li>
            <li ><%= link_to 'Rediger Profil', edit_profile_dashboard_path %></li>
            <li><%= link_to 'Endre Passord', new_password_dashboard_path  %></li>
          </ul>   
        </div> 
      </aside>
      <div class="col-md-8 col-sm-7  col-xs-12 result-section well"><!--styles for result-section found in myjobs.css.scss -->
      <div class="dashboard-menu-info"> 