  
<div class="well col-md-6 col-md-offset-3">
  <h3 class="text-center">Reset your password</h3>
  <%= form_tag jobs_search_path, method: :post, remote: true, id: 'search-job-fylke' do %>
    <input type="text" style="display:none">
    <input type="password" style="display:none">

    <div class="form-group">
      <%= label_tag 'Old password' %>
      <%= password_field_tag 'old password', nil, class: 'form-control'  %>
    </div>
    <div class="form-group">
      <%= label_tag 'New password' %>
      <%= password_field_tag 'password', nil, class: 'form-control'  %>
    </div>
   
    <div class="form-group">
      <%= label_tag  'Repeat password' %>
      <%= password_field_tag 'repeat password', nil, class: 'form-control' %>
    </div>   
    <%= submit_tag "Reset", class: "btn btn-default btn-block register-button" %> 
    <hr class="hr-new-user"/>    
  <% end %>
</div>