<div>
	<table>
  <tr>
    <td><strong>First Name:  </strong></td>
    <td><%= @user.first_name %></td>
  </tr>
   <tr>
    <td><strong>Last Name:  </strong></td>
    <td> <%= @user.last_name %> </td>
  </tr>

  <tr>
    <td><strong>Epost:  </strong></td>
    
    <td><%= @user.email %></td>
  </tr>

   <tr>
    <td><strong>Phone Number:  </strong></td>
    <td><%= @user.phone %></td>
  </tr>

   <tr>
    <td><strong>Gateaddress:  </strong></td>
    <td><%= @user.street_addr %> , <%= @user.kommune.name %></td>
   </tr>

   <tr>
    <td><strong>Bil Reg.No:  </strong></td>
    <td> <%= @user.car_reg %></td>
   </tr>

   <tr>
    <td><strong>Beskrivelse:  </strong></td>
    <td><%=  @user.user_self_description %> </td>
  </tr>
</table>
</div>