<% @page_title = 'Min Side' %>
<%= render 'dashboards/part1' %>
<div class=" well col-md-8 col-md-offset-2 col-xs-12" novalidate>
  <h3 class="text-center">Rediger Profil</h3>

  <%= form_for(@user, url: {controller: 'dashboards', action: 'update_profile'}, method: :patch, html: {multipart: true}) do |f| %>
    
    <div class="form-group">
      <%= f.label :first_name, 'Fornavn' %>
      <%= f.text_field :first_name, class: "form-control" %>
       <span class='error-span'><%= @user.errors[:first_name][0] if @user.errors[:first_name] %></span>
    </div>
    <div class="form-group">
      <%= f.label :last_name, 'Etternavn' %>
      <%= f.text_field :last_name, class: "form-control" %>
      <span class='error-span'><%= @user.errors[:last_name][0] if @user.errors[:last_name] %></span>
    </div>
   
    <div class="form-group">
      <%= f.label :phone, 'Mobilnummer' %>
      <%= f.text_field :phone, class: "form-control" %>
       <span class='error-span'><%= @user.errors[:phone][0] if @user.errors[:phone] %></span>
    </div>
    
    <div class="form-group">
      <%= f.label :street_addr, 'Gateadresse' %>
      <%= f.text_field :street_addr, class: "form-control", placeholder: "eg Grytingstien 2, 4041" %>
    </div>
    <div class="form-group">
      <%= f.label 'Kommune' %>
     <%= f.collection_select :kommune_id, @kommunes, :id, :name, {prompt: "Velg Kommune"}, {class:"form-control addr-field"}%>
     <span class='error-span'><%= @user.errors[:kommune_id][0] if @user.errors[:kommune_id] %></span> 
    </div>
    <div class="form-group">
      <%= f.label :car_reg, 'Bil Reg.nr' %>
      <%= f.text_field :car_reg, class: "form-control", placeholder: "eg RJ12345" %>
    </div>

    <div class="form-group">
      <%= f.label :user_self_description, 'A litt om du og din bil.' %>
      <%= f.text_area :user_self_description, class: "form-control", placeholder: "jeg er slutten je har en karton bil" %>
    </div>
         
    <br/>
    <div class="form-group">
      <%=f.label :image, 'Last opp bilde' %>
      <%=f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </div>  
    <%= f.submit "Lagre", class: "btn btn-default btn-block register-button" %>  
  <% end %>
</div>
<%= render 'dashboards/part2' %>

