<% @page_title = 'Min Side' %>
<%= render 'part1' %>
<h3 class="text-center"><strong>Mine invitasjoner </strong></h3>
<% if @appli_won.empty? %>
  <h3>Beklager, ingen invitasjon ennå fra jobb eiere.</h3>
<% else %>
  
  <p>Gratulere ! Du har blitt invitert til følgende jobber</p> 
  <p>Ta kontakt med jobbeier umiddelbart</p> 
  <br>

  <% @appli_won.each do |appli| %>
    <div class="my-appli">
      <h3><%= link_to "#{appli.job.title}", job_path(appli.job) %></h3>

      <h5> Jobeier:   <strong><%= appli.job.user.first_name %> </strong></h5>
      <h5> Telefon:   <strong><%= appli.job.contact_number %> </strong></h5>
      <h5> Adresse:   <strong><%= appli.job.street_addr %> </strong></h5>
      <h5> <%= appli.job.kommune.name %> </h5>  
    </div>
    <br>
  <% end %> 
<% end %>
<div class="pagin pagin-down text-center">
  <%= will_paginate @appli_won, renderer: BootstrapPagination::Rails, previous_label: '<', next_label:'>' %>
</div>
<%= render 'part2' %>