<% @page_title = 'Frakt-Min Side' %>
<%= render 'part1' %>
<h3 class="text-center"><strong>Jobs won </strong></h3>
<% if @appli_won.empty? %>
  <h3>You have not won any job. Keep applying</h3>
<% else %>
  
  <p>Gratulere ! You have been invited for the following jobs</p> 
  <p>Please take contact with Job owner immediately</p> 
  <br>

  <% @appli_won.each do |appli| %>
    <div class="my-appli">
      <h3><%= link_to "#{appli.job.title}", job_path(appli.job) %></h3>

      <h5> Jobeier:   <strong><%= appli.job.user.first_name %> </strong></h5>
      <h5> Telefon:   <strong><%= appli.job.contact_number %> </strong></h5>
      <h5> Address:   <strong><%= appli.job.street_addr %> </strong></h5>
      <h5> <%= appli.job.kommune.name %> </h5>  
    </div>
    <br>
  <% end %> 
<% end %>
<div class="pagin pagin-down text-center">
  <%= will_paginate @appli_won, renderer: BootstrapPagination::Rails, previous_label: '<', next_label:'>' %>
</div>
<%= render 'part2' %>