<%= render 'part1' %>

<h3 class="text-center"><strong>My applications</strong></h3>
<% if @my_applications.empty? %>
  <h3>You don't have any free applications</h3>
<% else %>
  <p>Below are all your pending applications</p>
  <p>To see the applications you have won, click 'My Jobs won' on the left </p>
  <br>

  <% @my_applications.each do |appl| %>
    <div class="my-appli">
      <h3><%= link_to "#{appl.job.title}", job_path(appl.job) %></h3>
     <br>
     <p><strong><%= appl.job.payment %>Kr </strong></p>
     <% if appl.job.status == 'active' %>
     Job Status:<strong id="active-text">Active</strong>
     <% elsif appl.job.status == 'inactive' %>
     <P> Job Status: <strong class="inactive-text">Inactive</strong></P>
     <p class="inactive-text">Jobowner has awarded this job to another helper</p>
     <% end %>
      <%= link_to 'Slett', job_job_application_path(job_id: appl.job.id , id: appl.id), confirm: 'Are you sure, you want to delete', method: :delete, class: "pull-right btn btn-danger" %>
     <p><%= appl.job.kommune.name %> </p> 
    </div>
    <br>
  <% end %>
<% end%>
<div class="pagin pagin-down">
  <%= will_paginate @my_applications, renderer: BootstrapPagination::Rails, previous_label: '<', next_label:'>' %>
</div>

<%= render 'part2' %>