<% @page_title = 'Min Side' %>

<%= render 'part1' %>
<h3 class="text-center"><strong>Mine annonser</strong></h3>
<br>
<% if @my_jobs.empty? %>
  <h3>Du har ikke lagt inn noen jobb</h3>
<% else %>
  <% @my_jobs.each do |job| %>
    <div class="job-wrap">
      <div>
        <div class="row job-section">
        	<div class="col-md-3 col-sm-4 col-xs-10">
            <% if job.image? %>
              <%= image_tag(job.image_url(:thumb), class: 'img-responsive pull-left thumbnail') %>
            <% else %>
              <%= image_tag("pages/thumb_cat_#{job.category_id}.png", class: 'img-responsive pull-left thumbnail') %>
            <% end %>
          </div>
          <div class="col-md-5 col-sm-8 col-xs-12">
            <p> <%= link_to "#{job.title.capitalize}", job_path(job) %></p>
            <br>
            <p> Visninger: <strong><%= job.views %> </strong></p>
            <% if job.status == 'inactive' %>
              <p class='inactive-status'>Jobb inaktiv. Helper har blitt invitert</p>
              <%= link_to 'Aktiver', activate_job_job_path(job), method: :patch, class: 'btn btn-info pull-right edit-btn' %> 
              <% else %>
            <%= link_to 'Rediger jobb', edit_job_path(job), class: "pull-left edit-btn" %> 
            <% end %>
          </div>
        </div>
      </div>

      <div class="applicants-list">
        <h3 class="text-center grey-text">Hjelpere</h3>
        <br>
        <h4 class='grey-text'>Hjelperne nedenfor har tilbudt å hjelpe deg</h4>
        <h4 class='grey-text'>Klikk på hjelpernavn for å vise sin profil før du inviterer hjelperen for å hjelpe deg</h4>
        <br>
        <%if job.job_applications.empty? %>
          <h4 class='red-text'> Ingen hjelper ennå</h4>
        <% else %>
          <table class="table table-hover ">
            <thead>
              <th>Hjelpernavn</th>
              <th>Mobilnummer</th>
              <th>Inviter</th>
            </thead>
            <% @applications.each do |x| %>
              <% if x.job_id == job.id %>
                <tr>
                  <% if x.awarded %>
                    <td><strong><%= link_to "#{full_name(x.user)}", user_path(x.user) %> <i class="fa fa-check" aria-hidden="true"></i></strong> </td>
                    <td><%=x.user.phone %> </td>
                    <td> <strong id="invited">Hjelper Invitert</strong></td>  
                  <% else %>
                    <td><strong><%= link_to "#{full_name(x.user)}", user_path(x.user) %></strong></td>  
                    <td> nummer skjult </td>
                    <td><%= link_to 'Inviter', award_job_job_application_path(job_id: job.id, id: x.id), class: "btn btn-info" %></td>  
                  <% end %>
                </tr>
              <% end %>
            <% end %>  
          </table>  
        <% end %>
      </div>      
    </div> <!-- end of job wrap -->
    <br>
    <hr/>
    <br>   
  <% end %>
<% end %>

<div class="pagin pagin-down text-center">
  <%= will_paginate @my_jobs, renderer: BootstrapPagination::Rails, previous_label: '<', next_label:'>' %>
</div>

<%= render 'part2' %>
   
   
  
  