<%= render 'part1' %>
<h3 class="text-center"><strong>My Jobs</strong></h3>
<% if @my_jobs.empty? %>
  <h3>You have not posted any jobs</h3>
<% else %>
  <% @my_jobs.each do |job| %>
    <div class="job-wrap">
      <div>
        <div class="row job-section">
        	<div class="col-md-3 col-sm-3">
            <%= image_tag(job.image_url(:thumb), class: 'img-responsive pull-left thumbnail') %>
          </div>
          <div class="col-md-5 col-sm-6">
            <p> <%= link_to "#{job.title}", job_path(job) %></p>
            <br>
            <p> views: <strong><%= job.views %> </strong></p>
            <%= link_to 'Endre', edit_job_path(job), class: "pull-left edit-btn" %> 
          </div>
        </div>
      </div>
 
      <div class="applicants-list">
        <h2 class="text-center">Applicants</h2>
        <p>The following have applied to help. click on the name to view each helper and invite the one you like.</p>
        <p>You can always cancel an invitation and invite someone else </p>
        <br>
        <%if job.job_applications.empty? %>
          <h4> No applicants yet for this job</h4>
        <% else %>
          <table class="table table-hover ">
            <% @applications.each do |x| %>
              <% if x.job_id == job.id %>
                <tr>
                  <td><strong><%= link_to "#{full_name(x.user)}", user_path(x.user) %> </strong></td>
                  <td> <%=x.user.kommune.name %> </td>
                  <td> <%= link_to 'invite', award_job_job_application_path(job_id: job.id, id: x.id), class: "btn btn-info invite" %></td>
                  
                </tr>
              <% end %>
            <% end %>  
          </table>  
        <% end %>
      </div>
    </div> <!-- end of job wrap -->
    <br>
    <br>
    <br>
  <% end %>
<% end %>
<%= render 'part2' %>
   
   
  
  