<% @page_title = 'Frakt-Min Side' %>
<%= render 'part1' %>
<div class="contain">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-hover well">
      <tr>
        <td><strong>Fornavn </strong></td>
        <td>:&nbsp<%= @user.first_name %></td>
      </tr>
       <tr>
        <td><strong>Etternavn  </strong></td>
        <td> :&nbsp<%= @user.last_name %> </td>
      </tr>
      
      <tr>
        <td><strong>Epost  </strong></td>
        <td>:&nbsp<%= @user.email %></td>
      </tr>
       

       <tr>
        <td><strong>Mobilnummer  </strong></td>
        <td>:&nbsp<%= @user.phone %></td>
      </tr>

       <tr>
        <td><strong>Gateaddresse  </strong></td>
        <td>:&nbsp<%= @user.street_addr if @user.street_addr %> , <%= @user.kommune.name  if @user.kommune %></td>
       </tr>

       <tr>
        <td><strong>Bil Reg.No  </strong></td>
        <td> :&nbsp<%= @user.car_reg %></td>
       </tr>

       <tr>
        <td><strong>Beskrivelse  </strong></td>
        <td>:&nbsp<%=  @user.user_self_description %> </td>
      </tr>
    </table>
    <%= link_to 'Rediger Profil', edit_profile_dashboard_path, class: 'btn btn-lg edit-btn' %> <!-- edit-btn styles found in myjobs.css.scss -->
  </div>
</div> 
<%= render 'part2' %>