<%= render 'dashboards/part1' %>
<% if @applications_without_reviews.empty? %>
  <h4> You have rated all your helpers</h4>
<% else %>
<ul>
  <% @applications_without_reviews.each do |appl| %>
  <li>
  <h4>Job title :<%= link_to "#{appl.job.title.capitalize}", job_path(appl.job)%></h4>  
  <h4> Helper : <%= appl.user.first_name.capitalize %></h4>  
  <p>Please tell us how you feel about <%=link_to "#{appl.user.first_name.capitalize}" , user_path(appl.user) %>'s help</p>
      <%= form_for [ appl.job, appl, @review ] do |f| %>
        <div class="rating-form">
          <%= f.label :rating %>
        </div>                    
        <div class = "form-group">              
          <%= f.label :comment %>
          <%= f.text_area :comment, class: "form-control" %>        
        </div>
        <%= f.submit "Post", class: "btn edit-btn" %>
      <% end %>
    </li>
    <br>
  <% end %>
</ul>
<% end %>
<%= render 'dashboards/part2' %>

<script type="text/javascript">
 /*this displays the stars based on what what value therating has */
   $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    hints:  ['', '', '', '', ''],
    noRatedMsg  : 'Ennå ikke vurdert',
    score: function(){
      return $(this).attr('data-score');
    }
  });

/* this displays the stars uncolored then when a number of stars are clicked, that number becomes the value for review[:rating] */
   $('.rating-form').raty({
    path: '/assets/',
    hints:  ['ikke fornøyd', '', 'bra', 'veldig bra', 'utmerket'],
    scoreName: 'review[rating]'

   });

$('.average-review-rating').raty({
    path: '/assets/',
    readOnly: true,
    hints:  ['', '', '', '', ''],
    noRatedMsg  : 'Ennå ikke vurdert ',
    score: function(){
      return $(this).attr('data-score');
    }

  });

 </script>