<!DOCTYPE html>
<html lang="nb">
<head>
  <title><%= @page_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale-1.0">
  <meta name="application-name" content="jobbplass.no">
  <meta name="description" content="Norge beste nettsted for småjobber ex. flytting, husarbeid, utearbeid, frakt, Vedlikehold, Reparasjoner, Vask, renhold og husarbeid. ">
  <%= stylesheet_link_tag    "application", media: "all"  %>
  <%= javascript_include_tag "application"  %>
  <%= favicon_link_tag 'pages/favicon.png' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='page-wrapper'>
  <%= render 'layouts/nav' %>
  <%= render 'layouts/messages' %>
  <%= yield %>
</div>


<div class='footer'>
  <%= render 'layouts/footer' %>
</div>

</body>
</html>
